<tr>
  <td class="middle">
    <div class="media">
      <div class="media-left">
        <%= image_tag my_contact.avatar.url(:thumb), class: "media-object", style: "width:100px;height:100px"%>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%=my_contact.name%></h4>
        <address>
          <strong>Company: <%=my_contact.company%></strong><br>
          <strong>Email:</strong> <%=my_contact.email%> <br>
          <strong>Phone: </strong> <%=my_contact.phone%> <br>
          <strong>Address: </strong><%=my_contact.address%>
        </address>
      </div>
    </div>
  </td>
  <td width="100" class="middle">
    <div>

        <%= link_to edit_contact_path(my_contact), class:"btn btn-circle btn-default btn-xs", title:"Edit" do %>
              <i class="glyphicon glyphicon-edit"></i>
        <%end%>

        <%= link_to destroy_contact_path(my_contact), method: :delete, class:"btn btn-circle btn-danger btn-xs", title:"Delete", data: {confirm: "Are you sure?"} do %>
              <i class="glyphicon glyphicon-remove"></i>
        <%end%>
    </div>
  </td>
</tr>
<tr>
